<div class="user-bar font-xsmall">
  <ul class="user-menu">
    <li>Signed in as: <%= current_user.full_name %></li>
    <li><%= link_to("Users", main_app.admin_users_path) %></li>
    <li> <%= link_to("FCERM programme refresh", main_app.admin_refresh_index_path) %></li>
    <li><%= link_to("Submissions", main_app.admin_confirmations_path) %></li>
    <li><%= link_to("Failed Submissions", main_app.admin_failed_submissions_path) %></li>
    <li><%= link_to(t('logout_link'), main_app.destroy_user_session_path) %></li>
  </ul>
</div>
