<div class="user-bar govuk-grid-row govuk-body">
  <div class="govuk-grid-column-full">
    <ul class="user-menu govuk-!-font-size-16">
      <li>Signed in as: <%= current_user.full_name %></li>
      <li><%= link_to t("all_projects"), main_app.admin_projects_path %></li>
      <li><%= link_to t("users"), main_app.admin_users_path %></li>
      <li><%= link_to t("download_all_projects"), main_app.admin_download_path %></li>
      <li><%= link_to t("submissions"), main_app.admin_confirmations_path %></li>
      <% if ENV.fetch('POL_FAILURE_NOTIFICATION_EMAIL', false) %>
        <li><%= link_to t("failed_submissions"), main_app.admin_failed_submissions_path %></li>
      <% end %>
      <li><%= link_to(t('logout_link'), main_app.destroy_user_session_path) %></li>
    </ul>
    <ul class="user-menu stacked-menu govuk-!-font-size-16">
      <li><%= link_to t("add_organisation"), main_app.new_admin_organisation_path %></li>
      <li><%= link_to t("manage_organisations"), main_app.admin_organisations_path %></li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
  </div>
</div>
