<% content_for :title, t(".heading") %>

<div class="govuk-grid-row govuk-body">

  <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

  <div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-m"><%= t(".current_rma") %></h2>
    <%= @project.owner.name %>
    <p>

    <h2 class="govuk-heading-m"><%= t(".select_new_rma") %></h2>

    <%= form_tag save_admin_project_path(@project), method: "patch" do %>
      <label for="rma_id" class="govuk-visually-hidden">Select new RMA</label>
      <%= select_tag :rma_id,
          options_for_select(PafsCore::Area.rma_areas.map { |a| [a.name, a.id] }, @project.owner.id),
          class: "govuk-select"
      %>
      <p>

      <%= submit_tag(t(".save_label"), class: "govuk-button") %>
    <% end %>
    <p>

    <%= link_to t(".cancel"), admin_projects_path %>
  </div>
</div>
