<h1 class="heading-large"><%= t(".heading") %></h1>
<%= pafs_form_for @confirmation, url: main_app.admin_programme_generation_resets_path(method: :post) do |f| %>
  <%= f.error_header %>
  <h2 class="heading-small"><%= t(".confirm_heading") %></h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>Click the button to reset ALL area programme generation processes.</p>
      <p>This will fix the system issue where the spreadsheet generation has become unresponsive</p>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= f.form_group :base do %>
        <%= f.check_box :confirm %>
      <% end %>
    </div>
  </div>
  <div class="form-group headroom">
    <%= f.submit t(".heading"), class: 'button' %>
  </div>
<% end %>
