<% content_for :title, "Sign in" %>
<%
  if flash[:alert].present?
    resource.errors.add(:base, flash[:alert])
    flash[:alert] = nil
  end
%>
<%= pafs_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-one-half">

      <h1 class="govuk-heading-l">Sign in</h2>
      <%= form_group f.object, :base, :base do %>
        <%= error_message f.object, :base, :base %>
        <%= f.govuk_email_field :email, autocomplete: "off", autofocus: true, class: 'form-control' %>
        <%= f.govuk_password_field :password, autocomplete: "off", class: 'form-control' %>
      <% end %>

      <div class="form-group">
        <%= f.govuk_submit "Sign in", class: 'button' %>
      </div>
    </div>
  </div>
<% end %>
