<%= pafs_form_for [:admin, @organisation] do |f| %>
  <%= csrf_meta_tags %>

  <%= f.hidden_field :area_type %>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_text_field :name, width: "three-quarters", label: { text: t(".name") } %>
    </div>
  </div>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_select :parent_id,
                ea_grouped_areas,
                label: { text: t(".parent_id") },
                options: { prompt: t(".parent_id_prompt") },
                class: "govuk-select govuk-grid-column-three-quarters area-select"  
      %>
    </div>
  </div>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
      <%= f.label :end_date, t(".end_date") %><br>
      <%= f.date_field :end_date, class: "govuk-select govuk-grid-column-three-quarters area-select" %>
    </div>
  </div>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_submit t("continue_label") %>
    </div>
  </div>
<% end %>
