<% content_for :title, t(".title") %>

<h1 class="govuk-heading-l"><%= t(".heading_h1") %></h1>
<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for admin_organisations_path, method: "get", class: "search-bar" do |f| %>
      <p>
        <%= label_tag(:q, t(".search_query_label")) %><br/>
        <%= text_field_tag(:q, params[:q] || "", class: "govuk-input govuk-!-width-one-half") %>
      </p>
      <p>
        <%= label_tag(:q, t(".search_type_label")) %><br/>
        <%= select_tag :type, options_for_select(Organisation::AREA_TYPES, params[:type] || Organisation::RMA_AREA), {class: "govuk-select govuk-!-width-one-half area-select"} %>
      </p>
      <p>
        <%= f.govuk_submit t(".search_btn") %>
      </p>
    <% end %>
  </div>
</div>

<table class="users-table govuk-table govuk-!-font-size-16">
  <caption class="govuk-visually-hidden"><%= t(".heading_table") %></caption> 
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @organisations.each do |org| %>
      <tr>
        <td><%= org.name %></td>
        <td><%= org.area_type %></td>
        <td><%= link_to t(".edit_link"), '#' + edit_admin_organisation_path(org) %>
          <span class="govuk-visually-hidden"> <%= t(".details_for") %> <%= org.name %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="govuk-grid-row govuk-body page-nav">
  <div class="govuk-grid-column-one-third">
    <%= page_entries_info @organisations %>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div class="pagination-area">
      <%= paginate @organisations, left: 0, right: 0, window: 2 %>
    </div>
  </div>
</div>
