<% content_for :title, t(".heading_h1") %>

<div class="govuk-grid-row govuk-body">

  <h1 class="govuk-heading-l"><%= t(".heading_h1") %></h1>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
      <%= form_for new_admin_organisation_path, method: "get", class: "search-bar" do |f| %>
        <%= label_tag(:type, t(".organisation_type_label")) %><br/>
        <%= select_tag :type, options_for_select(Organisation::ORGANISATION_TO_AREA_MAPPING, params[:type]), {class: "govuk-select govuk-!-width-one-half", include_blank: t(".organisation_type_label")} %>
        <p>
          <%= f.govuk_submit t(".submit_btn") %>
        </p>
      <% end %>
    </div>
  </div>

</div>
