<h1 class="govuk-heading-l">View imported program reports</h1>
<div class="govuk-body">
  <section>
    <table class="program-uploads">
      <thead>
        <tr>
          <th scope="col">Import date</th>
          <th scope="col">Filename</th>
          <th scope="col">Status</th>
          <th scope="col">Number of records</th>
        </tr>
      </thead>
      <tbody>
        <% @uploads.each do |upload| %>
          <tr>
            <td><%= upload.created_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
            <td><%= link_to File.basename(upload.filename), main_app.admin_program_upload_path(upload) %></td>
            <td><%= t(upload.status, scope: "admin.program_uploads.status") %></td>
            <td><%= upload.number_of_records %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="govuk-grid-row page-nav">
      <div class="govuk-grid-column-one-third">
        <%= page_entries_info @uploads %>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <div class="pagination-area">
          <%= paginate @uploads, left: 0, right: 0, window: 2 %>
        </div>
      </div>
    </div>
  </section>
</div>
