<%= pafs_form_for [:admin, @user] do |f| %>
  <%= csrf_meta_tags %>
  <%= f.error_header %>
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= f.text_field :first_name, class: "form-control form-wide" %>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= f.text_field :last_name, class: "form-control form-wide" %>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= f.text_field :email, class: "form-control form-wide" %>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= f.fields_for :user_areas do |uaf| %>
        <%= uaf.hidden_field :primary %>
        <%= uaf.hidden_field :user_id %>
        <% if uaf.index == 1 %>
          <p class="form-hint">Additional areas for PSO users ONLY.</p>
        <% end %>
        <% if uaf.object.id && uaf.index >= 1 %>
          <div class="add-link column-three-quarters">
            <%= link_to("remove", main_app.admin_user_area_path(uaf.object), data: {:confirm => 'Are you sure?'}, :method => :delete) %>
          </div>
        <% end %>
        <%=
          uaf.select :area_id,
            grouped_options_for_select(determine_grouped_area(uaf.index), uaf.object.area_id),
            { prompt: "Select an area", label: "#{area_label(uaf.index)}", :include_blank => true },
            { class: "form-control form-wide area-select" }
        %>
    <% end %>
    </div>
  </div>
  <%= f.form_group(:base) do %>
    <%= f.error_message(:base) %>
    <div class="grid-row">
      <div class="column-two-thirds">
        <%= f.check_box :admin, label: t("admin_label") %>
      </div>
    </div>
  <% end %>
  <% if action_name != "new" && @user.persisted? %>
    <div class="form-group">
      <div class="grid-row with-headroom">
        <div class="column-two-thirds">
          <%= f.label :invitation_sent_at, class: "form-label-bold" %>
          <%= date_or @user.invitation_sent_at, "Not set" %>
        </div>
      </div>
      <div class="grid-row with-headroom">
        <div class="column-two-thirds">
          <%= f.label :invitation_accepted_at, class: "form-label-bold" %>
          <%= date_or @user.invitation_accepted_at, "Not accepted" %>
        </div>
      </div>
      <div class="grid-row with-headroom">
        <div class="column-two-thirds">
          <%= f.label :last_sign_in_at, class: "form-label-bold" %>
          <%= date_or @user.last_sign_in_at, "Never" %>
        </div>
      </div>
    </div>
  <% end -%>
  <div class="grid-row">
    <div class="column-two-thirds actions">
      <%= f.submit t("save_label"), class: 'button' %>
      <%= link_to t("cancel_label"), admin_users_path, class: 'button button-secondary', role: "button" %>
      <% if action_name != "new" && @user.persisted? && @user.last_sign_in_at.nil? && @user.invitation_accepted_at.nil? %>
        <div class="resend-link">
          <%= link_to "Resend invitation", reinvite_admin_user_path(@user) %>
        </div>
      <% end -%>
    </div>
  </div>
<% end %>
