<% content_for :title, "Manage users" %>

<h1 class="govuk-heading-l">Manage users</h1>
<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for admin_users_path, method: "get", class: "search-bar" do |f| %>
      <%= label_tag(:q, "Search: ") %>
      <%= text_field_tag(:q, params[:q] || "", class: "govuk-input govuk-!-width-one-third") %>
      <%= hidden_field_tag(:o, params[:o]) %>
      <%= hidden_field_tag(:d, params[:d]) %>
      <%= f.govuk_submit "Search" %>
    <% end %>
  </div>
</div>

<table class="users-table govuk-table govuk-!-font-size-16">
  <thead>
    <tr>
      <th data-sortable="name">Name</th>
      <th data-sortable="email">Email</th>
      <th data-sortable="area">Area</th>
      <th>Admin</th>
      <th>Last sign in</th>
      <th><span class="govuk-visually-hidden">Action</span></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= disabled_class(user) %>">
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= user.primary_area.name %></td>
        <td><%= flag_for user.admin? %></td>
        <td><%= format_last_sign_in_date(user.last_sign_in_at) %></td>
        <td><%= link_to "Edit", edit_admin_user_path(user) %>
          <span class="govuk-visually-hidden"> details for <%= user.full_name %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="govuk-grid-row govuk-body page-nav">
  <div class="govuk-grid-column-one-third">
    <%= page_entries_info @users %>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div class="pagination-area">
      <%= paginate @users, left: 0, right: 0, window: 2 %>
    </div>
  </div>
</div>
<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-one-third actions">
    <%= link_to t("add_user_label"), new_admin_user_path, class: "button" %>
  </div>
  <div class="govuk-grid-column-two-thirds actions">
    <%= link_to t("download_users_label"), admin_download_all_users_path(({:format => :xls})), class: "float-link-right"%>
  </div>
</div>
