<% content_for(:head) do %>
  <!--[if gt IE 8]><!--><%= stylesheet_link_tag "application", media: "all" %><!--<![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag "application-ie6" %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag "application-ie7" %><![endif]-->
  <!--[if IE 8]><%= stylesheet_link_tag "application-ie8" %><![endif]-->
  <meta name="format-detection" content="telephone=no" />
<% end %>

<% content_for :page_title, title %>

<% content_for :header_content do %>
  <% content_tag(:span, class: "govuk-header__service-name") { t(:global_proposition_header) } %>
<% end %>

<% content_for :phase_banner do %>
  <%= render "shared/user_bar" if user_signed_in? %>
  <%= render "shared/flash_alerts" %>
<% end %>

<% content_for :body_end do %>
  <%= javascript_include_tag "application" %>
<% end %>

<% content_for :footer do %>
  <span class="govuk-visually-hidden"><%= t("global.footer_support_text") %></span>
  <p class="govuk-!-font-weight-bold">
    <%= t("global.footer_support_text") %>
    <%= link_to t("global.helpline_telephone_number"), "tel:#{t("global.helpline_telephone_number").delete(" ") }" %>
  </p>
<% end %>

<%= render template: "layouts/defra_ruby_template" %>
