<% content_for :page_title, make_page_title("Failed PoL Submissions") %>

<div id="dashboard">
  <h1 class="heading-large">Failed PoL Submissions</h1>
  <p>The following submissions have not been flagged as received by PoL</p>

  <section>
    <% unless projects.empty? %>
      <table class="dashboard">
        <thead>
          <tr>
            <th scope="col" class="project-number">National project number</th>
            <th scope="col" class="sortable-heading">Project name</th>
            <th scope="col">Created by</th>
            <th scope="col">
              <% sort_properties_for_col = get_next_sort_order_and_curr_arrow(project_sort_column, "updated_at", project_sort_order, "updated_at", "desc") %>

              <%= link_to "Last updated", admin_failed_submissions_path(sort_col: "updated_at", sort_order: sort_properties_for_col[:next_sort_order]), class: "sortable-link" %>
              <span class="sortable-arrow"><%=h raw(sort_properties_for_col[:curr_arrow]) %></span>
            </th>

            <th>Actions</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% projects.each do |project| %>
            <tr>
              <td><%= project.reference_number %></td>
              <td><%= project.name %></td>
              <td><%= project.owner.name unless project.owner.blank? %></td>
              <td><%= l(project.updated_at) %></td>
              <td><%= button_to 'Resend to PoL', retry_submission_admin_failed_submission_path(project), method: :put %></td>
              <td><%= button_to 'Proposal in PoL', mark_as_submitted_admin_failed_submission_path(project), method: :put %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <div class="grid-row page-nav">
      <div class="pagination column-one-third">
        <%= page_entries_info projects %>
      </div>
      <div class="column-two-thirds">
        <div class="pagination-area">
          <%= paginate projects, left: 0, right: 0, window: 2 %>
        </div>
      </div>
      <% if projects.empty? %>
        <div class="column-three-quarters">
          <p>There are no failed submissions</p>
        </div>
      <% end %>

      <div class="column-three-quarters">
        <details role="group">
          <summary role="button" aria-controls="failed-submissions-help">
            <span class="summary">How to manage failed submissions</span>
          </summary>
          <div class="panel panel-indent panel-border-narrow" id="failed-submissions-help">
            <p>Check if the proposal has arrived in PoL</p>

            <ul class='instructions'>
              <li>If YES, click on the 'Proposal in PoL' button.<br/>The proposal will disappear from the list, end of process.</li>
              <li>
                If NO, click on the 'Resend to PoL' button<br/>
                If displays successfully resubmitted, end of process.<br/>
                If displays failed to resubmit, the resend was unsuccessful
                <ul class='instructions'>
                  <li>
                    For unsuccessful resends, please contact the Program Framework helpdesk<br/>
                    <%= link_to nil, 'mailto:helpdesk@programframework.com' %>
                  </li>
                  <li>
                    Also copy into the email the Asset Management Business Systems Team<br/>
                    <%= link_to nil, 'mailto:AssetManagementTeam@environment-agency.gov.uk' %>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </details>
      </div>
    </div>
  </section>
</div>

